<h3>{{changeCase(titleValue)}}</h3>
<h3>{{titleValue | uppercase }}</h3>
<!-- <h3>{{titleValue | lowercase }}</h3>
<h3>{{titleValue | titlecase }}</h3> -->
<hr>
<div>
    <p>{{courseDetails.name | titlecase}}</p>
    <p>{{courseDetails.name | titlecase}}</p>
    <p>{{courseDetails.rating | number}}</p>
    <p>{{courseDetails.rating | number:'0.1-2'}}</p>
    <p>{{courseDetails.rating1 | number:'0.1-2'}}</p>
    <p>{{courseDetails.rating2 | number:'0.1-2'}}</p>
    <p>{{courseDetails.studentCount | number:'0.0-0'}}</p>
    <p>{{courseDetails.price | currency }}</p>
    <p>{{courseDetails.price | currency:'INR' }}</p>
    <p>{{courseDetails.price | currency:'EUR' }}</p>
    <p>{{courseDetails.price | currency:'DNK' }}</p>
    <p>{{courseDetails.price | currency:'CHANDAN' }}</p>
    <p>{{courseDetails.price | currency:'AUD' }}</p>
    <p>{{courseDetails.dateValue | date:'long' }}</p>
    <p>{{courseDetails | json}}</p>
</div>


<table>
    <tr>
        <td>Key</td>
        <td>Value</td>
        <td>JSON Formatted value using <b>`keyvalue`</b> pipe</td>
    </tr>
    <tr *ngFor="let item of courseDetails | keyvalue">
        <td>{{item.key}}</td>
        <td>{{item.value}}</td>
        <td>{{item | json}}</td>
    </tr>
</table>