<!-- <app-header></app-header> -->
<app-basic>

    <ng-container class="header">
        <app-header></app-header>
    </ng-container>

    <ng-container class="sidebar">
        <app-sidebar></app-sidebar>
    </ng-container>
    <ng-container class="main-content">
        <!-- <app-class-type></app-class-type> -->
        <!-- <app-classes-type></app-classes-type> -->
        <!-- <app-display-data></app-display-data> -->
        <!-- <app-event-binding></app-event-binding> -->
        <!-- <app-pipes></app-pipes> -->

        <!-- <app-post-list></app-post-list> -->
        <app-post-list></app-post-list>
        <router-outlet></router-outlet>
    </ng-container>

</app-basic>